@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../themes/theme.scss';

.taskList {
  margin: 0 auto;
  width: 30rem;
  left: -20px;
  background-color: $taskListBackground;
  padding: 10px, 30px;
  height: 80vh;
}

.taskListDiv {
  width: 40rem;
  height: 50vh;
  display: block;
  margin: 0 auto;
}

.singleTask {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: black;
  padding: 10px;
  width: 90%;
  border-bottom: 2px solid $main;
}

.taskComplete {
  @extend .singleTask;
  text-decoration: line-through;
  opacity: 0.5;
}

.icons {
  @extend .d-flex;
  font-size: 24px;
  padding-top: 4px;
}

.deleteIcon {
  @extend .justify-content-end;
  color: $main;
  font-size: 18px;

  &:hover {
    color: $fadedMain;
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }
}

.editIcon {
  @extend .deleteIcon;
  margin-left: 5px;
}

.updateIcon {
  @extend .deleteIcon;
  color: $main !important;
  font-size: 20px;
  margin-left: 7px;
}
